* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #222;
}

nav .navbar-brand {
  font-size: 30px;
  margin-right: 25%;
  margin-left: 10%;
}

nav nav ul {
  display: flex;
  align-items: center;
  height: 11vh;
  overflow: hidden;
}

nav li {
  margin-right: 40px;
}

nav .nav-link {
  color: #fff;
}

nav .nav-link:hover {
  border-bottom: 3px solid #f33f3f;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.fixed {
  position: fixed;
  transition: .7s;
  z-index: 1;
  width: 100%;
  background-color: #1a6692;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}

.carousel-item p {
  position: absolute;
  right: 45%;
  top: 30%;
  color: #f33f3f;
  font-size: 30px;
}

.carousel-item h1 {
  position: absolute;
  right: 35%;
  top: 40%;
  color: #fff;
}

section {
  width: 100%;
  height: 100px;
}

.section2 {
  width: 80vw;
  height: 30px;
  margin-left: 10%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2 a {
  color: #f33f3f;
  text-decoration: none;
  list-style-type: none;
}

.card .card-img-top {
  width: 100%;
}

.card .card-tittle {
  color: #1a6692;
  cursor: pointer;
}

.card ul li {
  display: inline;
  color: #f33f3f;
}

.card .card-body {
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* The dots/bullets/indicators */
  /* Fading animation */
  /* On smaller screens, decrease text size */
}

.card .card-body .card-text {
  font-size: 15px;
  color: #717171;
  width: 100%;
}

.card .card-body a {
  list-style-type: none;
  text-decoration: none;
}

.card .card-body h2 {
  margin-top: 10px;
}

.card .card-body .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.card .card-body .prev,
.card .card-body .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.card .card-body .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.card .card-body .prev:hover,
.card .card-body .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.card .card-body .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.card .card-body .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.card .card-body .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card .card-body .active,
.card .card-body .dot:hover {
  background-color: #717171;
}

.card .card-body .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .card .card-body .prev,
  .card .card-body .next,
  .card .card-body .text {
    font-size: 11px;
  }
}

.section3 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section3 h4 {
  color: #1a6692;
  margin: 20px 0;
  font-size: 20px;
}

.section3 li {
  margin: 15px 0;
}

.section3 .left-content a {
  color: #717171;
}

.section3 .left-content a:hover {
  color: #f33f3f;
  list-style-type: none;
  text-decoration: none;
}

.section3 button {
  background-color: #f33f3f;
  color: #fff;
  padding: 10px 15px;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.section3 button:hover {
  background-color: #111;
}

.inner-content {
  background-color: #eee8e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.inner-content h4 {
  color: #1a6692;
  margin: 20px auto;
}

.inner-content p {
  color: #717171;
}

.inner-content button {
  background-color: #f33f3f;
  color: #fff;
  padding: 10px 15px;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-left: 30px;
  outline: none;
}

.inner-content button:hover {
  background-color: #111;
}

.call-to-action .inner-content {
  margin-top: 60px;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.call-to-action .inner-content h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 15px;
}

.call-to-action .inner-content .col-md-4 {
  text-align: right;
}

.call-to-action .inner-content .filled-button {
  margin-top: 12px;
}

.footer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer p {
  font-size: 15px;
  color: #717171;
}
/*# sourceMappingURL=main main.css.map */